* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color: #333;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

p {
    font-size: 1rem;
    margin-bottom: 1.4rem;
}

main {
    width: 98%;
    margin: 10px auto;
    font-family: sans-serif;
    line-height: 1.4;
}

pre.lager {
    background: #aec;
    border-left: 3px solid #3a5;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
    display: block;
    overflow-x: auto;
    color: #191919;
}

code.javascript {
    font-size: 1rem;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}

h2 a,
h3 a {
    color: #333;
    text-decoration: none;
}

h2 a:hover,
h3 a:hover {
    text-decoration: underline;
}

ol {
    padding-left: 2rem;
    margin-bottom: 1.4rem;
}

.footer {
    background-color: #134f29;
    color: white;
    padding: 4rem 0;
}

.inner-footer {
    width: 98%;
    margin: 0 auto;
    font-family: sans-serif;
}

.inner-footer a {
    color: white;
}

.terms {
    margin-bottom: 5.6rem;
}

form {
    margin-bottom: 5.6rem;
}

label {
    font-weight: bold;
    display: block;
    font-size: 1rem;
}

input {
    font-size: 1rem;
    margin-bottom: 1.4rem;
}

input[type=text],
input[type=submit] {
    display: block;
}

.error {
    padding: 1.4rem;
    background: #eaa;
    border-left: 3px solid #c55;
}

@media (min-width: 980px) {
    main {
        width: 960px;
        margin: 20px auto;
    }

    .inner-footer {
        width: 960px;
    }

    html {
        font-size: 112.5%;
    }
}

.danger {
    background: #faa;
    border-left: 3px solid #a33;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
    display: block;
    overflow-x: auto;
    color: #511;
}
